
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/popper.js"></script>
    <script src="~/scripts/jquery-3.4.1.js"></script>
   
</head>
<body>
    <div class="container-fluid">
        <table class="table-borderless">
            <tr>
                <td><label>UserName: </label> </td>
                <td><input type="text" class="form-control-sm" /></td>
            </tr>
            <tr>
                <td><label>Password: </label></td>
                <td><input type="text" class="form-control-sm" /></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn-primary" /></td>            
            </tr>
        </table>
    </div>
</body>
</html>
